<!-- Todo List Item -->
<li class="todo-item" [class.completed]="sujet.completed">
    <div class="todo-title-wrapper">
        <div class="todo-title-area">
            <i data-feather="more-vertical" class="drag-icon"></i>
            <div class="title-wrapper">
                <div class="custom-control custom-checkbox">
                    <input
                            type="checkbox"
                            class="custom-control-input todo-checkbox"
                            id="customCheck{{ sujet.id }}"
                            name="customCheck{{ sujet.id }}"
                            [disabled]="sujet.completed"
                            [checked]="sujet.completed"
                            (click)="$event.stopPropagation()"
                    />
                    <label class="custom-control-label" for="customCheck{{ sujet.id }}"></label>
                </div>
                <span class="todo-title">{{ sujet.titre }}</span>
            </div>
        </div>
        <div class="todo-item-action">
            <div class="badge-wrapper mr-1">
                <div
                        class="badge badge-pill badge-light-primary text-capitalize"
                        [ngClass]="{
            'badge-light-success': sujet.completed ,
            'badge-light-danger': ! sujet.completed
          }"
                >
                    {{ sujet.echeance.dateFin }}
                </div>
            </div>
            <small class="text-nowrap text-muted mr-1">{{ sujet.echeance.dateFin | date: ' MMM d' }}</small>
                <div
                        class="avatar"
                        *ngIf="sujet.encadreur; else noAvatar"
                        [ngClass]="{

            'bg-light-success':! sujet?.completed,
            'bg-light-danger':  sujet?.completed

          }"
                >
                    <div class="avatar-content">{{ sujet.encadreur?.prenom + ' '+ sujet.encadreur?.nom | initials }}</div>
                </div>
                <ng-template #noAvatar>
                    <div class="avatar bg-light-secondary">
                        <div class="avatar-content"><i data-feather="user"></i></div>
                    </div>
                </ng-template>
        </div>
    </div>
</li>
<!--/ Todo List Item -->
