<!-- Todo List Item -->
<li class="todo-item" [class.completed]="sujet.completed">
    <div class="todo-title-wrapper">
        <div class="todo-title-area">
            <i data-feather="more-vertical" class="drag-icon"></i>
            <div class="title-wrapper">
                <div class="custom-control custom-checkbox">
                    <input
                            type="checkbox"
                            class="custom-control-input todo-checkbox"
                            id="customCheck{{ sujet.id }}"
                            name="customCheck{{ sujet.id }}"
                            [(ngModel)]="sujet.completed"
                            [checked]="sujet.completed"
                            (click)="$event.stopPropagation()"
                            (ngModelChange)="checkboxStateChange($event)"
                    />
                    <label class="custom-control-label" for="customCheck{{ sujet.id }}"></label>
                </div>
                <span class="todo-title">{{ sujet.titre }}</span>
            </div>
        </div>
        <div class="todo-item-action">
            <div class="badge-wrapper mr-1">
                <div
                        class="badge badge-pill badge-light-primary text-capitalize"
                        *ngFor="let tag of sujet.tags; let i = index"
                        [ngClass]="{
            'badge-light-primary': tag == 'team',
            'badge-light-success': tag == 'low',
            'badge-light-danger': tag == 'high',
            'badge-light-warning': tag == 'medium',
            'badge-light-info': tag == 'update'
          }"
                >
                    {{ tag }}
                </div>
            </div>
            <small class="text-nowrap text-muted mr-1">  <div class="badge badge-light-info">Groupe  : MNF</div></small>
            <small class="text-nowrap text-muted mr-1">  <div class="badge badge-light-success">Date d'échéance : {{ sujet?.echeanche?.dateFin | date: ' dd MMM YYYY' }}</div></small>

            <ng-container *ngIf="sujet.etudiants; else noAvatar">
                <div *ngFor="let etudiant of sujet.etudiants"
                        class="avatar"
                        [ngClass]="{
                'bg-light-warning': !sujet?.completed,
                'bg-light-danger': sujet?.completed
              }"
                >
                    <div class="avatar-content">{{etudiant?.prenom + " " + etudiant?.nom | initials }}</div>
                </div>
            </ng-container>

            <ng-template #noAvatar>
                <div class="avatar bg-light-secondary">
                    <div class="avatar-content"><i data-feather="user"></i></div>
                </div>
            </ng-template>
        </div>
    </div>
</li>
<!--/ Todo List Item -->
