<!-- Main Sidebar -->
<div class="main-sidebar sidebar">
  <div class="sidebar-content rapport-sidebar">
    <div class="rapport-app-menu" [perfectScrollbar]>
    
      <!-- Ajouter un rapport -->
      <div class="add-task">
        <button
          type="button"
          class="btn btn-primary btn-block"
          (click)="createNewRapportForm()"
          rippleEffect
        >
          Nouveau rapport
        </button>
      </div>
      
      <!-- Si showForm est vrai, afficher le formulaire -->
      <div class="sidebar-form" *ngIf="showForm">
        <form #form="ngForm" (ngSubmit)="addRapport()">
          <!-- Contenu du formulaire -->
          <div class="form-group">
            <label for="rapportTitle">Titre</label>
            <input type="text" id="rapportTitle" class="form-control" ngModel name="titre" required>
          </div>
          
          <div class="form-group">
            <label for="rapportContenu">Contenu</label>
            <input type="file" id="rapportContenu" class="form-control" (change)="handleFileInput($event.target.files)" name="contenu" />
          </div>
          
          <div class="form-group">
            <button type="submit" class="btn btn-primary">
              Enregistrer
            </button>
          </div>
        </form>
        
      </div>
      <div class="sidebar-menu-list">
        <div class="list-group list-group-filters">
          <!-- Boucle sur les filtres -->
          <a
            *ngFor="let filter of filters"
            [routerLink]="'/apps/rapport/' + filter.handle"
            [routerLinkActive]="'active'"
            class="list-group-item list-group-item-action"
            (click)="toggleSidebar('rapport-sidebar-main')"
          >
            <i [data-feather]="filter.icon" [size]="18" class="mr-75"></i>
            <span class="align-middle">{{ filter.titre }}</span>
          </a>
        </div>

        <div class="list-group list-group-labels">
          <!-- Section pour les tags -->
        </div>
      </div>
    </div>
  </div>
</div>
