<form class="form-validate" (ngSubmit)="submit(accountForm)" #accountForm="ngForm">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="username">Nom</label>
        <input type="text" id="nom" class="form-control" placeholder="nom" name="nom"
          [(ngModel)]="nom" [class.error]="accountForm.submitted && NomRef.invalid"
          #NomRef="ngModel" required />
        <span *ngIf="accountForm.submitted && NomRef.invalid" class="invalid-form">
          <small class="form-text text-danger" *ngIf="NomRef.errors.required">
            This field is required!
          </small>
        </span>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label for="name">Prénom</label>
        <input type="text" id="prenom" class="form-control" placeholder="prenom" name="prenom"
          [(ngModel)]="prenom" [class.error]="accountForm.submitted && prenomRef.invalid"
          #prenomRef="ngModel" required />
        <span *ngIf="accountForm.submitted && prenomRef.invalid" class="invalid-form">
          <small class="form-text text-danger" *ngIf="prenomRef.errors.required">
            This field is required!
          </small>
        </span>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" id="email" class="form-control" placeholder="Email" name="email"
          [(ngModel)]="email" [class.error]="accountForm.submitted && EmailRef.invalid"
          #EmailRef="ngModel" required />
        <span *ngIf="accountForm.submitted && EmailRef.invalid" class="invalid-form">
          <small class="form-text text-danger" *ngIf="EmailRef.errors.required">
            This field is required!
          </small>
        </span>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label for="role">Role</label>
        <select class="form-control" [(ngModel)]="selectedRole" name="role" id="role" required>
          <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
        </select>
      </div>
    </div>
    

    <div class="col-md-4">
      <div class="form-group">
        <label for="matricule">Matricule</label>
        <input type="text" id="matricule" class="form-control" placeholder="Matricule" name="matricule"
          [(ngModel)]="matricule" [class.error]="accountForm.submitted && matriculeRef.invalid" #matriculeRef="ngModel" required />
        <span *ngIf="accountForm.submitted && matriculeRef.invalid" class="invalid-form">
          <small class="form-text text-danger" *ngIf="matriculeRef.errors?.required">
            This field is required!
          </small>
        </span>
      </div>
    </div>

    <div class="form-group" *ngIf="rows[0]?.role === 'SECRETAIRE'">
      <label for="departement">Département</label>
      <input
        type="text"
        id="departement"
        class="form-control"
        placeholder="Saisissez le département"
        name="departement"
        [(ngModel)]="departement" [class.error]="accountForm.submitted && departementRef.invalid" #departementRef="ngModel" required />
    </div>
    

    <div class="col-md-4">
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Password" name="password"
          [(ngModel)]="password" required />
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="accountForm.invalid">
          Modifier
        </button>
        <button type="button" class="btn btn-secondary" (click)="resetFormWithDefaultValues()">
          Annuler
        </button>
      </div>
    </div>
  </div>
</form>
